<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>c9325447-a309-4130-9287-8cdd3b62fdb2
c9325447-a309-4130-9287-8cdd3b62fdb2
c9325447-a309-4130-9287-8cdd3b62fdb2
</string>
</dict>
</plist>
